body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-family: monospace;
  }
  
  .container {
    display: flex;
    gap: 20px;
  }
  
  .digit {
    font-size: 100px;
    font-weight: bold;
    color: limegreen;
  }